# CMake / build output
**/build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake.user

# Visual Studio
.vs/
**/*.vcxproj*
**/*.sln
**/x64/
**/Debug/
**/Release/

# Doxygen output
doxygen/
**/html/
**/latex/
**/rtf/

# Windows build artefacts
*.obj
*.exe
*.lib
*.exp
*.pdb
*.dll

# Generic binary files
*.o
*.out

# Ignore whole worksheet build folders
Worksheet3/*.obj
Worksheet3/*.exe
Worksheet3/*.lib
Worksheet3/*.exp

# Ignore all build directories
**/build/